.inbox-section {
  padding: 20px 20px 7px 20px;
}

#app .archive-all-button {
  display: flex;
  align-items: center;
}

#app .call-list {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  overflow-y: auto;
  border-radius: 8px;
  padding-top: 10px 0px 10px 0px;
  background-color: #ffffff; 
}

#app .call-list::-webkit-scrollbar {
  display: none; 
}

#app .call-list h2 {
  font-size: 10px;
  color: #333;
}

#app .call-container {
  display: flex;
  align-items: center;
  padding: 10px 15px; 
  border-bottom: 1px solid #e0e0e0; 
  transition: background-color 0.3s ease;
}

#app .call-container:hover {
  background-color: #f9f9f9;
}

#app .call-container:last-child {
  border-bottom: none; 
}

#app .call-info{
  align-items: center;
}

#app .call-icon {
  margin-right: 15px; 
  color: #007aff;
}

#app .call-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#app .call-details h2 {
  font-weight: 500;
  color: #000;
}

#app .call-details .call-info {
  display: flex;
  flex-direction: column;
}

#app .call-details .call-date {
  color: #888; 
}

#app .call-details .call-action {
  display: flex;
  align-items: center;
  color: #858282; 
  cursor: pointer;
}

#app .call-date {
  padding-right: 10px;
  font-size: 10px;
}
